<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/base.css" />
        <title>Gooo - {{ template "title" . }}</title>
    </head>
    <body>
        <div id="heading">
            <h1>
                <div style="text-align:center;">
                <img src="https://a248.e.akamai.net/camo.github.com/b47538c54da884db01f12d1a0138226e2d7180f6/687474703a2f2f692e696d6775722e636f6d2f4e5373636d2e6a7067"/><
                </div>
                    {{ template "header" . }}
                </span>
            </h1>
        </div>
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/test">Test</a></li>
            <li><a href="/hello">Hello</a></li>
        </ul>
        </div>
        <div id="content">
            {{ template "content" . }}
        </div>
        <footer id="pusher">
            <p>
                copyright
            </p>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="/static/js/base.js"></script>
    </body>
</html>
