{{define "index"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Go on Rails 3.2</title>
</head>
<body>
{{ range .posts}}
	<div class="post">
		<h1>{{.Title}}</h1>
		<p>{{.Content}}</p>
	</div>
{{ end }}
<form action="posts" method="POST" accept-charset="utf-8">
  <div>Title: <input type="text" name="title"></div>
  <div>Content<br />
    <textarea name="content" rows="20" cols="40"></textarea>
  </div>
  <div><input type="hidden" value="1" name="userId">
  <div><input type="submit" value="Create post"></div>
</form>

</body>
</html>
{{ end }}
